{% extends 'base.html' %}

{% block body_content %}

	<div id="contents">
		<div class="features">
			<h1>AVANTAJLAR</h1>
			<p>
				Markalaşmanızı sağlar. Markanızı daha fazla insana duyurursunuz. Prestij kazanırsınız. Güven kazanırsınız. İnsanlarla kolay iletişim kurarsınız. Az maliyetle daha çok kitleye reklam yapabilirsiniz.
			</p>
			<div>
				<img src="/static/images/recycle.png" alt="Img">
				<h2>Maliyet Tasarrufu Sağlar</h2>
				<p>
					Web sitesi, kira ve fatura masraflarından kurtulmanızı sağlayarak online satışlarınızı gerçekleştirmenize olanak tanır. Sanal vitrininizde yaratıcı tasarımlarla müşterilerinizin ilgisini daha çok çekebilirsiniz. Online reklamlarınız daha geniş kitlelere ulaşır ve diğer reklam çeşitlerine göre daha ekonomiktir.
				</p>
				<h2>Müşterileriniz Hakkında Daha Fazla Bilgi</h2>
				<p>
					Web siteniz sadece müşterilerinizin sizi tanımasına değil; sizin de müşterilerinizi daha yakından tanımanıza olanak sağlar. Kullanıcıların sitenizin hangi kısımlarda daha çok vakit geçirdiği ve hangi kısımlarda gezindikleri hakkındaki verileri elde ederek, bu doğrultuda siteniz ve firmanız hakkında geliştirmeler yapabilir ve sürekli olarak ilerleyebilirsiniz.
				</p>
			</div>
			<div>
				<img src="/static/images/box-of-icons.png" alt="Img">
				<h2>Marka Bilinirliği</h2>
				<p>
					Web siteniz, SEO çalışmalarıyla daha geniş kitlelere erişim sağlayarak marka bilinirliğinizi arttırır ve arama motorlarında rakiplerinizin önüne geçmenizi sağlar.
				</p>
				<h2>7/24 Açık Online Ofis veya Mağaza</h2>
				<p>
					Bir web sitesine sahip olmak, müşterilerin size istedikleri zaman bulabilecekleri anlamına gelir. Web sitesi, kullanıcılara herhangi bir satın alma baskısı oluşturmadan hizmetleriniz ve ürünleriniz hakkındaki bilgilere ulaşma avantajı sağlarken; sahip olduğu tasarım sayesinde markanız ve ürünlerini çok daha çekici kılabilir.
				</p>
			</div>
		</div>
	</div>

{% endblock %}