{% extends 'base.html' %}  <!-- base htmlin var olduğunu belirttik -->

{% block body_content %}  <!-- body contentin başladığı yer-->


	<div id="adbox">
		<div class="clearfix">
			<img src="/static/images/box4.png" alt="Img" height="342" width="368">  <!--gerekli materyallerin nereden alınacağı ve resimle ilgili boyutlar-->
			<div>
				<h1>Neden Satın Almalısın?</h1>
				<h2>Rakiplerinden bir adım daha önde olmak için!</h2>
				<p>
					Bizden satın alacağınız website tasarım robotu ile müşterilerinizi kolayca etkileyebilir ve rakiplerinizden üstün olabilirsiniz <span><a href="{{ url_for('giris') }}" class="btn">Şimdi Deneyin!</a><b>Endişelenme,7 gün ücretsiz:)</b></span>
				</p>
			</div>
		</div>
	</div>
	<div id="contents">
		<div id="tagline" class="clearfix">
			<h1>Basitçe Tasarla</h1>
			<div>
				<p>
					HIZLI KULLANIM
				</p>
				<p>
					BİLGİ GEREKTİRMEDEN WEB SİTESİ OLUŞTURMA
				</p>
				<p>
					YILLIK PAKET İLE SINIRSIZ WEBSİTESİ OLUŞTURMA
				</p>
			</div>
			<div>
				<p>
					BÜTÇENİZE GÖRE PAKETLER
				</p>
				<p>
					ŞİRKETLER İÇİN ORTAK KULLANIM
				</p>
				<p>
					AKLIMA BİR ŞEY GELMEDİ
				</p>
			</div>
		</div>
	</div>

{% endblock %} <!--  bodynin bittiği yer-->
